


  <div class="inner-overflow">
    <div class="inner-scroll">
      <div class="left-wrap">
        <div class="left-wrap-inner">
          <ul class="left-bar">
            <li>
              <a href="/showplaces/" class="btn btn-default btn-fab btn-raised btn-sights"></a>
              <span class="block"><a class="btn-label btn btn-default btn-raised" href="javascript:void(0)">ДОСТОПРИМЕЧАТЕЛЬНОСТИ</a></span>
            </li>
            <li>
              <a href="/museums/" class="btn btn-default btn-fab btn-raised btn-museums"></a>
              <span class="block"><a class="btn-label btn btn-default btn-raised" href="javascript:void(0)">Музеи</a></span>
            </li>
            <li>
              <a href="/living/" class="btn btn-default btn-fab btn-raised btn-living"></a>
              <span class="block"><a class="btn-label btn btn-default btn-raised" href="javascript:void(0)">Проживание</a></span>
            </li>
            <li>
              <a href="/catering/" class="btn btn-default btn-fab btn-raised btn-food"></a>
              <span class="block"><a class="btn-label btn btn-default btn-raised" href="javascript:void(0)">Питание</a></span>
            </li>
            <li>
              <a href="javascript:void(0)" class="btn btn-default btn-fab btn-raised btn-excursions"></a>
              <span class="block"><a class="btn-label btn btn-default btn-raised" href="javascript:void(0)">Экскурсии</a></span>
            </li>
          </ul>
        </div>
      </div>
      <div class="right-wrap">
        <div class="right-wrap-inner">
          <ul class="right-bar">
            <li>
              <a href="javascript:void(0)" class="btn btn-default btn-fab btn-raised btn-transport"></a>
              <span class="block"><a class="btn-label btn btn-default btn-raised" href="javascript:void(0)">Транспорт</a></span>
            </li>
            <li>
              <a href="javascript:void(0)" class="btn btn-default btn-fab btn-raised btn-maps"></a>
              <span class="block"><a class="btn-label btn btn-default btn-raised" href="javascript:void(0)">Карты</a></span>
            </li>
            <li>
              <a href="javascript:void(0)" class="btn btn-default btn-fab btn-raised btn-events"></a>
              <span class="block"><a class="btn-label btn btn-default btn-raised" href="javascript:void(0)">События</a></span>
            </li>
            <li>
              <a href="javascript:void(0)" class="btn btn-default btn-fab btn-raised btn-history"></a>
              <span class="block"><a class="btn-label btn btn-default btn-raised" href="javascript:void(0)">История</a></span>
            </li>
            <li>
              <a href="javascript:void(0)" class="btn btn-default btn-fab btn-raised btn-leisure"></a>
              <span class="block"><a class="btn-label btn btn-default btn-raised" href="javascript:void(0)">Досуг</a></span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <a href="javascript:void(0)" class="toggle-bars"><i class="mdi-hardware-keyboard-arrow-right"></i><i class="mdi-hardware-keyboard-arrow-left"></i></a>
{#</div>#}
