
/*
.block-sight s-filters .btn-s-filter:hover {
    background: rgba(46,204,113,0.4);
}
.block-sight s-filters .btn-s-filter.active {
    background: #2ecc71;
}*/
/*.block-sight s-filters .btn-m-filter:hover {
    background: rgba(155,89,182,0.4);
 }
.block-sight s-filters .btn-m-filter.active {
    background: #9B59B6;
    color: #FFF;
}
*/

.nt-m {
    color: #9B59B6;
}
.nt-l {
    color: #3498D8;
}

/*
  ##     ## ##     ##  ######  ######## ##     ## ##     ##  ######
  ###   ### ##     ## ##    ## ##       ##     ## ###   ### ##    ##
  #### #### ##     ## ##       ##       ##     ## #### #### ##
  ## ### ## ##     ##  ######  ######   ##     ## ## ### ##  ######
  ##     ## ##     ##       ## ##       ##     ## ##     ##       ##
  ##     ## ##     ## ##    ## ##       ##     ## ##     ## ##    ##
  ##     ##  #######   ######  ########  #######  ##     ##  ######
*/


.bg-museum { background-color: #F1C40F; }
.block-museum-n-filters { padding: 20px 0 0; }
.block-museum-n-filters.padding-bottom { padding-bottom: 200px; }
/* .block-museum-filters { margin-top: -65px; padding-bottom: 40px; } */
.block-museum-filters { margin-top: 0; padding-bottom: 40px; }
.block-museum-filters .nav-tabs { background: none; text-align: center; border-bottom: 1px solid #9B59B6; }
.block-museum-filters .nav-tabs li {
  float: none;
  display: inline-block;
  padding: 0 0 30px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  text-align: center;
  min-width: 195px;
  white-space: nowrap;
  color: #FFF;
  position: relative;
  margin-bottom: 0;
}
.block-museum-filters .nav-tabs li .btn-fab {
  width: 87px;
  height: 87px;
  background-color: #2ECC71 !important;
  background: url(../img/sprite-side-bar-icons.png) no-repeat scroll -1px -800px #2ECC71;
  border: 5px solid #FFF !important;
  display: inline-block;
  margin-bottom: 15px;
}
.block-museum-filters .nav-tabs li .btn-fab.btn-ico-photo { background-position: -2px -801px; }
.block-museum-filters .nav-tabs li .btn-fab.btn-ico-ruller { background-position: -1px -880px; }

.block-museum-filters .nav-tabs li.active:before {
  position: absolute;
  bottom: -1px;
  left: 50%;
  z-index: 3;
  width: 0;
  height: 0;
  content: "";
  border-bottom: 25px solid #9B59B6;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  margin-left: -28px;
}
.block-museum-filters .nav-tabs li.active:after {
  position: absolute;
  bottom: -2px;
  left: 50%;
  z-index: 4;
  width: 0;
  height: 0;
  content: "";
  border-bottom: 25px solid #F1C40F;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  margin-left: -28px;
}

@media (max-width: 440px) {
  .block-museum-filters .nav-tabs li.active:before,
  .block-museum-filters .nav-tabs li.active:after { display: none; }
  .block-museum-filters .nav-tabs li.active {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.5);
    margin-bottom: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
  }
}
.block-museum-filters .btn-filter {
  display: inline-block;
  color: #9B59B6;
  border-radius: 12px;
  padding: 0 15px 1px;
  text-decoration: none;
  outline: none;
  -webkit-transition: background-color 0.3s ease-in-out 0s, opacity 0.3s ease-in-out 0s;
          transition: background-color 0.3s ease-in-out 0s, opacity 0.3s ease-in-out 0s;
  margin-top: 10px;
  transform: scale(1);
  -webkit-transform: scale(1);
}
.block-museum-filters .btn-filter:hover {
  background:  rgba(155,89,182,0.4);
}
.block-museum-filters .btn-filter.active {
  background: #9B59B6;
  color: #FFF;
}
.block-museum-filters .btn-filter.changed {
  -webkit-animation: 0.3s ease 0s normal none 1 filter-nonactive-changed;
          animation: 0.3s ease 0s normal none 1 filter-nonactive-changed;
}
.block-museum-filters .btn-filter.active.changed {
  -webkit-animation: 0.3s ease 0s normal none 1 filter-active-changed;
          animation: 0.3s ease 0s normal none 1 filter-active-changed;
}
@keyframes filter-active-changed {
  0, 100% { opacity: 1; transform: scale(1); }
  50% { opacity: 1; transform: scale(1.1); }
}
@-webkit-keyframes filter-active-changed {
  0, 100% { opacity: 1; -webkit-transform: scale(1); }
  50% { opacity: 1; -webkit-transform: scale(1.1); }
}
@keyframes filter-nonactive-changed {
  0, 100% { opacity: 1; transform: scale(1); }
  50% { transform: scale(0.9); }
}
@-webkit-keyframes filter-nonactive-changed {
  0, 100% { opacity: 1; -webkit-transform: scale(1); }
  50% { opacity: 1; -webkit-transform: scale(0.9); }
}

.block-museum-rows h2 {
  color: #2ecc71;
  font-family: 'BebasNeueBold', sans-serif;
  font-size: 34px;
  margin-bottom: 40px;
  margin-top: 0;
}
.block-museum-rows .museum-row {
  background: #FFF !important;
  display: block;
  padding: 20px;
  text-align: center;
  text-decoration: none !important;
  color: #2c3e50;
  text-transform: none;
  white-space: normal;
  margin: 0 0 20px;
  border-radius: 3px;
}
.block-museum-rows .museum-rows { padding-left: 5px; padding-right: 5px; }
.block-museum-rows .museum-rows > div {
  padding-left: 10px;
  padding-right: 10px;
}
.block-museum-rows .museum-row .label-place {
  background: #fff;
  border-radius: 10px;
  padding: 0 30px;
  color: #9B59B6;
  font-size: 13px;
  font-weight: normal;
}
.block-museum-rows .museum-row h3 {
  font-family: 'BebasNeueRegular', sans-serif;
  font-size: 18px;
  text-align: center;
  margin-top: 10px;
  margin-left: -5px;
  margin-right: -5px;
}
.block-museum-rows .museum-row .img img {
  max-width: 100%;
  border-radius: 50%;
  overflow: hidden;
}

/*
##       #### ##     ## #### ##    ##  ######
##        ##  ##     ##  ##  ###   ## ##    ##
##        ##  ##     ##  ##  ####  ## ##
##        ##  ##     ##  ##  ## ## ## ##   ####
##        ##   ##   ##   ##  ##  #### ##    ##
##        ##    ## ##    ##  ##   ### ##    ##
######## ####    ###    #### ##    ##  ######
*/

.bg-living { background-color: #ECF0F1; }
.block-living-filters .nav-tabs li .btn-fab.btn-ico-inn {
    background-position: -4px -1280px;
    background-color: #3498D8 !important;
}
.block-living-filters .nav-tabs li .btn-fab.btn-ico-cottage {
    background-position: -0px -1362px;
    background-color: #3498D8 !important;
}
.block-living-filters .nav-tabs li .btn-fab.btn-ico-appart {
    background-position: -2px -1442px;
    background-color: #3498D8 !important;
}

.block-living-n-filters { padding: 20px 0 0; }
.block-living-n-filters.padding-bottom { padding-bottom: 200px; }
/* .block-living-filters { margin-top: -65px; padding-bottom: 40px; } */
.block-living-filters { margin-top: 0; padding-bottom: 40px; }
.block-living-filters .nav-tabs { background: none; text-align: center; border-bottom: 1px solid #3498D8; }
.block-living-filters .nav-tabs li {
  float: none;
  display: inline-block;
  padding: 0 0 30px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  text-align: center;
  min-width: 195px;
  white-space: nowrap;
  color: #FFF;
  position: relative;
  margin-bottom: 0;
}
.block-living-filters .nav-tabs li .btn-fab {
  width: 87px;
  height: 87px;
  background-color: #2ECC71 !important;
  background: url(../img/sprite-side-bar-icons.png) no-repeat scroll -1px -800px #2ECC71;
  border: 5px solid #FFF !important;
  display: inline-block;
  margin-bottom: 15px;
}
/*.block-living-filters .nav-tabs li .btn-fab.btn-ico-photo { background-position: -2px -801px; }
.block-living-filters .nav-tabs li .btn-fab.btn-ico-ruller { background-position: -1px -880px; }
*/
.block-living-filters .nav-tabs li.active:before {
  position: absolute;
  bottom: -1px;
  left: 50%;
  z-index: 3;
  width: 0;
  height: 0;
  content: "";
  border-bottom: 25px solid #3498D8;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  margin-left: -28px;
}
.block-living-filters .nav-tabs li.active:after {
  position: absolute;
  bottom: -2px;
  left: 50%;
  z-index: 4;
  width: 0;
  height: 0;
  content: "";
  border-bottom: 25px solid #ECF0F1;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  margin-left: -28px;
}

@media (max-width: 440px) {
  .block-living-filters .nav-tabs li.active:before,
  .block-living-filters .nav-tabs li.active:after { display: none; }
  .block-living-filters .nav-tabs li.active {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.5);
    margin-bottom: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
  }
}
.block-living-filters .btn-filter {
  display: inline-block;
  color: #3498D8;
  border-radius: 12px;
  padding: 0 15px 1px;
  text-decoration: none;
  outline: none;
  -webkit-transition: background-color 0.3s ease-in-out 0s, opacity 0.3s ease-in-out 0s;
          transition: background-color 0.3s ease-in-out 0s, opacity 0.3s ease-in-out 0s;
  margin-top: 10px;
  transform: scale(1);
  -webkit-transform: scale(1);
}
.block-living-filters .btn-filter:hover {
  background:  rgba(52,152,216,0.4);
}
.block-living-filters .btn-filter.active {
  background: #3498D8;
  color: #FFF;
}
.block-living-filters .btn-filter.changed {
  -webkit-animation: 0.3s ease 0s normal none 1 filter-nonactive-changed;
          animation: 0.3s ease 0s normal none 1 filter-nonactive-changed;
}
.block-living-filters .btn-filter.active.changed {
  -webkit-animation: 0.3s ease 0s normal none 1 filter-active-changed;
          animation: 0.3s ease 0s normal none 1 filter-active-changed;
}
@keyframes filter-active-changed {
  0, 100% { opacity: 1; transform: scale(1); }
  50% { opacity: 1; transform: scale(1.1); }
}
@-webkit-keyframes filter-active-changed {
  0, 100% { opacity: 1; -webkit-transform: scale(1); }
  50% { opacity: 1; -webkit-transform: scale(1.1); }
}
@keyframes filter-nonactive-changed {
  0, 100% { opacity: 1; transform: scale(1); }
  50% { transform: scale(0.9); }
}
@-webkit-keyframes filter-nonactive-changed {
  0, 100% { opacity: 1; -webkit-transform: scale(1); }
  50% { opacity: 1; -webkit-transform: scale(0.9); }
}

.block-living-rows h2 {
  color: #2ecc71;
  font-family: 'BebasNeueBold', sans-serif;
  font-size: 34px;
  margin-bottom: 40px;
  margin-top: 0;
}
.block-living-rows .living-row {
  background: #FFF !important;
  display: block;
  padding: 20px;
  text-align: center;
  text-decoration: none !important;
  color: #2c3e50;
  text-transform: none;
  white-space: normal;
  margin: 0 0 20px;
  border-radius: 3px;
}
.block-living-rows .living-rows { padding-left: 5px; padding-right: 5px; }
.block-living-rows .living-rows > div {
  padding-left: 10px;
  padding-right: 10px;
}
.block-living-rows .living-row .label-place {
  background: #fff;
  border-radius: 10px;
  padding: 0 30px;
  color: #3498D8;
  font-size: 13px;
  font-weight: normal;
}
.block-living-rows .living-row h3 {
  font-family: 'BebasNeueRegular', sans-serif;
  font-size: 18px;
  text-align: center;
  margin-top: 10px;
  margin-left: -5px;
  margin-right: -5px;
}
.block-living-rows .living-row .img img {
  max-width: 100%;
  border-radius: 50%;
  overflow: hidden;
}

