{% extends "base.html" %}
{% load static from staticfiles %}
{% load thumbnail %}
{% load endless %}

{% block color_line %}
    <div class="green-bar food">
      <h2>Питание</h2>
    </div>
{% endblock %}

{% block man-hand %}
    <img src="{% static 'img/man-food.png' %}">
{% endblock %}

{% block js %}
    {{ block.super }}

    <script src="{{ STATIC_URL }}endless_pagination/js/endless-pagination.js"></script>
    <script>$.endlessPaginate();</script>
{% endblock %}

{% block main_content %}

      <div class="block-food-n-filters bg-food">
      <div class="container">
        <div class="row">


<div class="block-food-filters clearfix" role="tabpanel">
  <div class="col-md-8 col-md-offset-2 col-xs-12">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" {% if type_active == 'one' or not type_active %}class="active"{% endif %}>
        <a href="#home" aria-controls="home" role="tab" data-toggle="tab" class="btn btn-default btn-fab btn-raised btn-ico-caffe"></a>
        <div class="nt-c">Кафе и рестораны</div>
      </li>
      <li role="presentation" {% if type_active == 'two' %}class="active"{% endif %}>
        <a href="#two" aria-controls="two" role="tab" data-toggle="tab" class="btn btn-default btn-fab btn-raised btn-ico-pizza"></a>
        <div class="nt-c">Фастфуд и пиццерии</div>
      </li>
      <li role="presentation" {% if type_active == 'three' %}class="active"{% endif %}>
        <a href="#three" aria-controls="three" role="tab" data-toggle="tab" class="btn btn-default btn-fab btn-raised btn-ico-roll"></a>
        <div class="nt-c">Суши и роллы</div>
      </li>
      <li role="presentation" {% if type_active == 'four' %}class="active"{% endif %}>
        <a href="#four" aria-controls="four" role="tab" data-toggle="tab" class="btn btn-default btn-fab btn-raised btn-ico-deliver"></a>
        <div class="nt-c">Доставка</div>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content margin-top-10">
      <div role="tabpanel" class="tab-pane {% if type_active == 'one' or not type_active %}active{% endif %}" id="home">
        <div class="row">
          <div class="col-sm-4 col-xs-12">
            <div class="text-center"><a href="?type=one&dist=1{% if dist == "1" %}-{% endif %}" class="btn-filter {% if dist == "1" and type_active == 'one' %}active{% endif %}">Город</a></div>
            <div class="text-center"><a href="?type=one&dist=2{% if dist == "2" %}-{% endif %}" class="btn-filter {% if dist == "2" and type_active == 'one' %}active{% endif %}">&lt;10км.</a></div>
          </div>
          <div class="col-sm-4 col-xs-12">
            <div class="text-center"><a href="?type=one&dist=3{% if dist == "3" %}-{% endif %}" class="btn-filter {% if dist == "3" and type_active == 'one' %}active{% endif %}">10-30км.</a></div>
            <div class="text-center"><a href="?type=one&dist=4{% if dist == "4" %}-{% endif %}" class="btn-filter {% if dist == "4" and type_active == 'one' %}active{% endif %}">30-50км.</a></div>
          </div>
          <div class="col-sm-4 col-xs-12">
            <div class="text-center"><a href="?type=one&dist=5{% if dist == "5" %}-{% endif %}" class="btn-filter {% if dist == "5" and type_active == 'one' %}active{% endif %}">50-100км.</a></div>
            <div class="text-center"><a href="?type=one&dist=6{% if dist == "6" %}-{% endif %}" class="btn-filter {% if dist == "6" and type_active == 'one' %}active{% endif %}">&gt;100км.</a></div>
          </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane {% if type_active == 'two' %}active{% endif %}" id="two">
        <div class="row">
          <div class="col-sm-4 col-xs-12">
            <div class="text-center"><a href="?type=two&dist=1{% if dist == "1" %}-{% endif %}" class="btn-filter {% if dist == "1" and type_active == 'two' %}active{% endif %}">Город</a></div>
            <div class="text-center"><a href="?type=two&dist=2{% if dist == "2" %}-{% endif %}" class="btn-filter {% if dist == "2" and type_active == 'two' %}active{% endif %}">&lt;10км.</a></div>
          </div>
          <div class="col-sm-4 col-xs-12">
            <div class="text-center"><a href="?type=two&dist=3{% if dist == "3" %}-{% endif %}" class="btn-filter {% if dist == "3" and type_active == 'two' %}active{% endif %}">10-30км.</a></div>
            <div class="text-center"><a href="?type=two&dist=4{% if dist == "4" %}-{% endif %}" class="btn-filter {% if dist == "4" and type_active == 'two' %}active{% endif %}">30-50км.</a></div>
          </div>
          <div class="col-sm-4 col-xs-12">
            <div class="text-center"><a href="?type=two&dist=5{% if dist == "5" %}-{% endif %}" class="btn-filter {% if dist == "5" and type_active == 'two' %}active{% endif %}">50-100км.</a></div>
            <div class="text-center"><a href="?type=two&dist=6{% if dist == "6" %}-{% endif %}" class="btn-filter {% if dist == "6" and type_active == 'two' %}active{% endif %}">&gt;100км.</a></div>
          </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane {% if type_active == 'three' %}active{% endif %}" id="three">
        <div class="row">
          <div class="col-sm-4 col-xs-12">
            <div class="text-center"><a href="?type=three&dist=1{% if dist == "1" %}-{% endif %}" class="btn-filter {% if dist == "1" and type_active == 'three' %}active{% endif %}">Город</a></div>
            <div class="text-center"><a href="?type=three&dist=2{% if dist == "2" %}-{% endif %}" class="btn-filter {% if dist == "2" and type_active == 'three' %}active{% endif %}">&lt;10км.</a></div>
          </div>
          <div class="col-sm-4 col-xs-12">
            <div class="text-center"><a href="?type=three&dist=3{% if dist == "3" %}-{% endif %}" class="btn-filter {% if dist == "3" and type_active == 'three' %}active{% endif %}">10-30км.</a></div>
            <div class="text-center"><a href="?type=three&dist=4{% if dist == "4" %}-{% endif %}" class="btn-filter {% if dist == "4" and type_active == 'three' %}active{% endif %}">30-50км.</a></div>
          </div>
          <div class="col-sm-4 col-xs-12">
            <div class="text-center"><a href="?type=three&dist=5{% if dist == "5" %}-{% endif %}" class="btn-filter {% if dist == "5" and type_active == 'three' %}active{% endif %}">50-100км.</a></div>
            <div class="text-center"><a href="?type=three&dist=6{% if dist == "6" %}-{% endif %}" class="btn-filter {% if dist == "6" and type_active == 'three' %}active{% endif %}">&gt;100км.</a></div>
          </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane {% if type_active == 'three' %}active{% endif %}" id="four">
        <div class="row">
          <div class="col-sm-4 col-xs-12">
            <div class="text-center"><a href="?type=three&dist=1{% if dist == "1" %}-{% endif %}" class="btn-filter {% if dist == "1" and type_active == 'three' %}active{% endif %}">Город</a></div>
            <div class="text-center"><a href="?type=three&dist=2{% if dist == "2" %}-{% endif %}" class="btn-filter {% if dist == "2" and type_active == 'three' %}active{% endif %}">&lt;10км.</a></div>
          </div>
          <div class="col-sm-4 col-xs-12">
            <div class="text-center"><a href="?type=three&dist=3{% if dist == "3" %}-{% endif %}" class="btn-filter {% if dist == "3" and type_active == 'three' %}active{% endif %}">10-30км.</a></div>
            <div class="text-center"><a href="?type=three&dist=4{% if dist == "4" %}-{% endif %}" class="btn-filter {% if dist == "4" and type_active == 'three' %}active{% endif %}">30-50км.</a></div>
          </div>
          <div class="col-sm-4 col-xs-12">
            <div class="text-center"><a href="?type=three&dist=5{% if dist == "5" %}-{% endif %}" class="btn-filter {% if dist == "5" and type_active == 'three' %}active{% endif %}">50-100км.</a></div>
            <div class="text-center"><a href="?type=three&dist=6{% if dist == "6" %}-{% endif %}" class="btn-filter {% if dist == "6" and type_active == 'three' %}active{% endif %}">&gt;100км.</a></div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>





          <div class="block-food-rows margin-for-icons">
<!-- START OF INFO ROW -->
            <div class="food-rows clearfix">

<!-- START OF INFO BLOCK (4 in line) -->

         {% for obj in object_list %}
           {% if forloop.counter0 < 4 %}
            <div class="col-md-3 col-sm-6 col-xs-12">
              <a class="food-row btn btn-raised" href="{{ obj.get_absolute_path }}">
                <span class="label label-default label-place">{% if obj.distance > 1 %}{{ obj.distance }} км. от Выборга{% else %}Выборг{% endif %}</span>

                <h3>{{ obj.title }}</h3>

                <div class="img text-center margin-top-15">
                  {% thumbnail obj.image "180x180" crop="center" as im %}
                    <img src="{{ obj.image.url }}" width="{{ im.width }}" height="{{ im.height }}">
                  {% empty %}
                    <img src="{% static 'img/img-city-teaser-1.jpg' %}">
                  {% endthumbnail %}
                </div>
                <div class="text margin-top-15">
                  {{ obj.description|striptags|safe }}
                </div>
              </a>
            </div>
           {% endif %}
         {% endfor %}

<!-- END OF INFO BLOCK -->

            </div>
<!-- END OF INFO ROW -->
          </div>
        </div>
      </div>
    </div>



    <div class="block-slider-promo bg-night-blue margin-top-20">
      <div class="container">
        <ul class="bxslider clearfix">
          <li><a href="javascript:void(0)"><img src="{% static 'img/img-slider-1.png' %}" alt="image" /></a></li>
          <li><a href="javascript:void(0)"><img src="{% static 'img/img-slider-1.png' %}" alt="image" /></a></li>
          <li><a href="javascript:void(0)"><img src="{% static 'img/img-slider-1.png' %}" alt="image" /></a></li>
          <li><a href="javascript:void(0)"><img src="{% static 'img/img-slider-1.png' %}" alt="image" /></a></li>
        </ul>
      </div>
    </div>


    {# <div class="bg-night-blue margin-top-20"> #}
      {# <div class="container"> #}
        {# <a href="javascript:void(0)"><img src="{% static 'img/img-slider-1.png' %}" alt="img" class="img-responsive margin-top-20 margin-bottom-20" /></a> #}
      {# </div> #}
    {# </div> #}


  <div class="block-food-n-filters bg-food margin-top-20">
    <div class="container">
      <div class="row">
        <div class="block-food-rows margin-for-icons">
<!-- START OF INFO ROW -->
          <div class="food-rows clearfix endless_page_template">
<!-- START OF INFO BLOCK (4 in line) -->

{% include page_template %}

<!-- END OF INFO BLOCK -->

          </div>
<!-- END OF INFO ROW -->
        </div>
      </div>



    </div>
  </div>

{% endblock %}
