{% extends "base.html" %}
{% load showplace_filter from sp_filter %}
{% load static from staticfiles %}
{% load thumbnail %}

{% block color_line %}
    <div class="green-bar" style="background-color: #2ecc71;">
      <h2>Достопримечательности Выборга и окрестностей</h2>
    </div>
{% endblock %}

{% block main_content %}

      <div class="block-sights-n-filters bg-night-blue">
      <div class="container">
        <div class="row">

{% showplace_filter %}

          <div class="block-sights-rows margin-for-icons">
<!-- START OF INFO ROW -->
            <div class="sights-rows clearfix">
<!-- START OF INFO BLOCK (4 in line) -->
         {% for obj in object_list %}
           {% if forloop.counter0 < 4 %}
            <div class="col-md-3 col-sm-6 col-xs-12">
              <a class="sights-row btn btn-raised" href="{{ obj.get_absolute_path }}">
                <span class="label label-default label-place">{% if obj.locality %}{{ obj.locality.title }}{% else %}Выборг{% endif %} {% if obj.distance > 1 %}{{ obj.distance }}км.{% endif %}</span>

                <h3>{{ obj.title }}</h3>

                <div class="img text-center margin-top-15">
                  {% thumbnail obj.image "180x180" crop="center" as im %}
                    <img src="{{ obj.image.url }}" width="{{ im.width }}" height="{{ im.height }}">
                  {% empty %}
                    <img src="{% static 'img/img-city-teaser-1.jpg' %}">
                  {% endthumbnail %}
                </div>
                <div class="text margin-top-15">
                  {{ obj.description|striptags|safe }}
                </div>
              </a>
            </div>
           {% endif %}
         {% endfor %}
<!-- END OF INFO BLOCK -->

            </div>
<!-- END OF INFO ROW -->
          </div>
        </div>
      </div>
    </div>



{#    <div class="block-slider-promo bg-night-blue margin-top-20">#}
{#      <div class="container">#}
{#        <ul class="bxslider clearfix">#}
{#          <li><a href="javascript:void(0)"><img src="{% static 'img/img-slider-1.png' %}" alt="image" /></a></li>#}
{#          <li><a href="javascript:void(0)"><img src="{% static 'img/img-slider-1.png' %}" alt="image" /></a></li>#}
{#          <li><a href="javascript:void(0)"><img src="{% static 'img/img-slider-1.png' %}" alt="image" /></a></li>#}
{#        </ul>#}
{#      </div>#}
{#    </div>#}


    <div class="bg-night-blue margin-top-20">
      <div class="container">
        <a href="javascript:void(0)"><img src="{% static 'img/img-slider-1.png' %}" alt="img" class="img-responsive margin-top-20 margin-bottom-20" /></a>
      </div>
    </div>


  <div class="block-sights-n-filters bg-night-blue margin-top-20">
    <div class="container">
      <div class="row">
        <div class="block-sights-rows margin-for-icons">
<!-- START OF INFO ROW -->
          <div class="sights-rows clearfix">
<!-- START OF INFO BLOCK (4 in line) -->
         {% for obj in object_list %}
           {% if forloop.counter0 >= 4 %}
            <div class="col-md-3 col-sm-6 col-xs-12">
              <a class="sights-row btn btn-raised" href="{{ obj.get_absolute_path }}">
                <span class="label label-default label-place">{% if obj.locality %}{{ obj.locality.title }}{% else %}Выборг{% endif %} {% if obj.distance > 1 %}{{ obj.distance }}км.{% endif %}</span>

                <h3>{{ obj.title }}</h3>

                <div class="img text-center margin-top-15">
                  {% thumbnail obj.image "180x180" crop="center" as im %}
                    <img src="{{ obj.image.url }}" width="{{ im.width }}" height="{{ im.height }}">
                  {% empty %}
                    <img src="{% static 'img/img-city-teaser-1.jpg' %}">
                  {% endthumbnail %}
                </div>
                <div class="text margin-top-15">
                  {{ obj.description|striptags|safe }}
                </div>
              </a>
            </div>
           {% endif %}
         {% endfor %}
<!-- END OF INFO BLOCK -->

          </div>
<!-- END OF INFO ROW -->
        </div>
      </div>
      <div class="text-center margin-bottom-60">
        <a href="javascript:void(0)" class="btn btn-load-more-v1 btn-fab btn-raised"
           data-url="load-more-test.json" data-count="20">
          <span class="mdi-av-replay"></span>
          <span class="text">Показать еще 20</span>
        </a>
      </div>
    </div>
  </div>


{% endblock %}