{% load static from staticfiles %}
{% load i18n %}
{% load side_menu from core_utils %}

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="ru"> <!--<![endif]-->
<head>
  <title>{% block head_title %}Выборг-Гид{% endblock %}</title>

  <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{{ request.path }}" />

    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <meta name="author" content="Vyborg-Gid">

{#    {% block head_og_img_social %}#}
{#    {% endblock %}#}
{% block head_og_tags %}
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <meta property="og:title" content="Выборг-Гид" />
    <meta property="og:description" content="Выборг-Гид" />
{% endblock %}

    <link href='http://fonts.googleapis.com/css?family=Roboto&subset=cyrillic,latin' rel='stylesheet' type='text/css'>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'bootstrap-md/dist/css/ripples.min.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap-md/dist/css/material.min.css' %}" rel="stylesheet">

    <!-- CSS Customization -->
  <link rel="stylesheet" href="{% static 'css/jquery.bxslider.css' %}">
  <link rel="stylesheet" href="{% static 'css/fontello.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
<div class="visible-detect">
    <div class="visible-lg" data-resolution="lg"></div>
    <div class="visible-md" data-resolution="md"></div>
    <div class="visible-sm" data-resolution="sm"></div>
    <div class="visible-xs" data-resolution="xs"></div>
</div>
<!-- START OF HEADER -->

<div class="header">
  <div class="block-icons-bar fixed">
{% side_menu %}
  </div>

<!-- START OF TOP LINE -->
    <div class="container">
      <div class="row">
        <div class="navbar navbar-default navbar-white">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand withoutripple" href="javascript:void(0)">
                  <img src="{% static 'img/logo.png' %}" class="pull-left" alt="Logo">
                  <span class="hidden-xs">ИНФОРМАЦИОННО-ТУРИСТИЧЕСКИЙ ЦЕНТР ВЫБОРГА</span>
                </a>
            </div>
            <div class="navbar-contacts pull-right hidden-xs">
              <div class="phone-number text-right">(+7) 905 282-57-25</div>
              <div class="order-a-call">
                <a href="javascript:void(0)" class="btn btn-flat btn-default" data-toggle="modal" data-target="#orderACallModal">Заказать обратный звонок</a>
              </div>
            </div>
            <div class="navbar-collapse collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="javascript:void(0)">Фотоархив</a></li>
                    <li class="divider hidden-xs"></li>
                    <li><a href="javascript:void(0)">Видеоархив</a></li>
                    <li class="divider hidden-xs"></li>
                    <li><a href="javascript:void(0)">Отзывы</a></li>
                </ul>
            </div>
            <div class="navbar-contacts-bottom text-center visible-xs">
              <div class="phone-number">(+7) 905 282-57-25</div>
              <div class="order-a-call">
                <a href="javascript:void(0)" class="btn btn-flat btn-default" data-toggle="modal" data-target="#orderACallModal">Заказать обратный звонок</a>
              </div>
            </div>
        </div>
      </div>
    </div>
<!-- END OF TOP LINE -->

<!-- START OF MIDDLE LINE -->
    <div class="middle-wrap">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-lg-offset-3 col-md-6 col-md-offset-2 col-sm-6 col-sm-offset-1 col-xs-6">
            <a href="javascript:void(0)" class="btn-infocenter">ИНФОЦЕНТР ВЫБОРГ-ГИД</a>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="excursion-order-wrap"> {# TODO: Остался вопрос: как менять цвет человечка вместе с block color_line? #}
              <img src="{% static 'img/bg-excursion-hand.png' %}">
              <a href="javascript:void(0)" class="btn btn-default btn-fab btn-raised" data-toggle="modal" data-target="#orderExcursionModal">Заказать<br /> экскурсию</a>
            </div>
          </div>
        </div>
      </div>
    </div>
<!-- END OF MIDDLE LINE -->

{% block color_line %}
{% endblock %}

  </div>

<!-- END OF HEADER -->

<!-- START OF MAIN -->

  <div class="main">

  {% block main_content %}
  {% endblock %}

  </div>

<!-- END OF MAIN -->

<!-- START OF FOOTER -->

  <div class="footer">
<!--
    <div class="footer-menu">
      <div class="container">
        <div class="row margin-for-icons">
          <div class="col-lg-10 col-lg-offset-1 col-xs-12">
            <div class="menu-row row">
              <div class="col-md-3 col-sm-6 col-xs-12 menu-block margin-top-20">
                <h3><a href="javascript:void(0)">ЗАГОЛОВОК раздела сайта</a></h3>
                <ul>
                  <li><a href="javascript:void(0)">Подраздел сайта</a></li>
                  <li><a href="javascript:void(0)">Подраздел сайта</a></li>
                  <li><a href="javascript:void(0)">Подраздел сайта</a></li>
                </ul>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12 menu-block margin-top-20">
                <h3><a href="javascript:void(0)">ЗАГОЛОВОК раздела сайта</a></h3>
                <ul>
                  <li><a href="javascript:void(0)">Подраздел сайта</a></li>
                  <li><a href="javascript:void(0)">Подраздел сайта</a></li>
                  <li><a href="javascript:void(0)">Подраздел сайта</a></li>
                </ul>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12 menu-block margin-top-20">
                <h3><a href="javascript:void(0)">ЗАГОЛОВОК раздела сайта</a></h3>
                <ul>
                  <li><a href="javascript:void(0)">Подраздел сайта</a></li>
                  <li><a href="javascript:void(0)">Подраздел сайта</a></li>
                  <li><a href="javascript:void(0)">Подраздел сайта</a></li>
                </ul>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12 menu-block margin-top-20">
                <h3><a href="javascript:void(0)">ЗАГОЛОВОК раздела сайта</a></h3>
                <ul>
                  <li><a href="javascript:void(0)">Подраздел сайта</a></li>
                  <li><a href="javascript:void(0)">Подраздел сайта</a></li>
                  <li><a href="javascript:void(0)">Подраздел сайта</a></li>
                </ul>
              </div>
            </div>
            <div class="menu-row row">
              <div class="col-md-3 col-sm-6 col-xs-12 menu-block margin-top-20">
                <h3><a href="javascript:void(0)">ЗАГОЛОВОК раздела сайта</a></h3>
                <ul>
                  <li><a href="javascript:void(0)">Подраздел сайта</a></li>
                  <li><a href="javascript:void(0)">Подраздел сайта</a></li>
                  <li><a href="javascript:void(0)">Подраздел сайта</a></li>
                </ul>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12 menu-block margin-top-20">
                <h3><a href="javascript:void(0)">ЗАГОЛОВОК раздела сайта</a></h3>
                <ul>
                  <li><a href="javascript:void(0)">Подраздел сайта</a></li>
                  <li><a href="javascript:void(0)">Подраздел сайта</a></li>
                  <li><a href="javascript:void(0)">Подраздел сайта</a></li>
                </ul>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12 menu-block margin-top-20">
                <h3><a href="javascript:void(0)">ЗАГОЛОВОК раздела сайта</a></h3>
                <ul>
                  <li><a href="javascript:void(0)">Подраздел сайта</a></li>
                  <li><a href="javascript:void(0)">Подраздел сайта</a></li>
                  <li><a href="javascript:void(0)">Подраздел сайта</a></li>
                </ul>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12 menu-block margin-top-20">
                <h3><a href="javascript:void(0)">ЗАГОЛОВОК раздела сайта</a></h3>
                <ul>
                  <li><a href="javascript:void(0)">Подраздел сайта</a></li>
                  <li><a href="javascript:void(0)">Подраздел сайта</a></li>
                  <li><a href="javascript:void(0)">Подраздел сайта</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
-->
    <div class="footer-social">
      <div class="container">
        <a href="javascript:void(0)" class="btn btn-raised btn-fab btn-vk"><i class="not-fontello mdi-editor-format-bold"></i></a>
        <a href="javascript:void(0)" class="btn btn-raised btn-fab btn-fb"><i class="fontello icon-facebook"></i></a>
        <a href="javascript:void(0)" class="btn btn-raised btn-fab btn-ok"><i class="fontello icon-odnoklassniki"></i></a>
        <a href="javascript:void(0)" class="btn btn-raised btn-fab btn-skype"><i class="fontello icon-skype"></i></a>
        <a href="javascript:void(0)" class="btn btn-raised btn-fab btn-yt"><i class="fontello icon-youtube"></i></a>
        <a href="javascript:void(0)" class="btn btn-raised btn-fab btn-gp"><i class="fontello icon-gplus"></i></a>
        <a href="javascript:void(0)" class="btn btn-raised btn-fab btn-tw"><i class="fontello icon-twitter-bird"></i></a>
      </div>
    </div>
    <div class="footer-contacts">
      <script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=a-HGHufRl6ZjcWBQw6Yc8Jri0QISmV-0&id=footer-map"></script>
      <div id="footer-map"></div>
      <div class="ymaps-overlay"></div>
      <div class="form-layer">
        <div class="container">
          <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 footer-tooltip-wrap">
              <div class="footer-tooltip pull-right">
                <h3>Туристический информационный центр</h3>
                <img src="{% static 'img/logo.png' %}" class="logo margin-top-20" alt="Logo">
                <div>
                  Выборг, <br />
                  ул. Прогонная, 7-а, <br />
                  “Усадьба бюргера”. <br />
                  Телефон и факс: (81378) 203-86, <br />
                  (+7) 905 282-57-25<br />
                  Электронная почта: <br />
                  <a href="javascript:void(0)">oldkaretnik@yandex.ru</a>
                  <div class="tail"></div>
                </div>
              </div>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
              <form class="form-v1" action="{% url 'feedback' %}" method="GET">
                <div class="form-control-wrapper">
                  <input type="text" class="form-control  empty" name="name" id="edit-name">
                  <div class="floating-label">Ваше имя</div>
                </div>
                <div class="form-control-wrapper">
                  <input type="email" class="form-control empty" name="mail" id="edit-mail">
                  <div class="floating-label">Ваш e-mail</div>
                </div>
                <div class="form-control-wrapper">
                  <input type="text" class="form-control empty" name="subject" id="edit-subject">
                  <div class="floating-label">Ваш телефон</div>
                </div>
                <div class="form-control-wrapper">
                  <textarea class="form-control empty" name="text" id="edit-text"></textarea>
                  <div class="floating-label">Сообщение</div>
                </div>
                <div class="text-right">
                  <button type="submit" class="btn btn-default">Отправить</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="to-up-wrap">
        <a href="#">
          <span class="front"><i class="fontello icon-up-bold"></i></span>
        </a>
      </div>
    </div>
  </div>

<!-- END OF FOOTER -->

  <!-- Modal -->
  <div class="modal fade" id="orderACallModal" tabindex="-1" role="dialog" aria-labelledby="orderACallModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="orderACallModalLabel">Заказать обратный звонок</h4>
        </div>
        <div class="modal-body">
          <form class="form-v2 ajaxify-form" action="{% url 'callback' %}" method="POST" data-validate="orderACallCallback" data-submit="orderACallCallback">
            <div class="form-control-wrapper">
              <input type="text" class="form-control empty required" name="name" id="edit-call-name">
              <div class="floating-label">Ваше имя</div>
{#              <div class="hint">Это обязательное поле</div>#}
            </div>
            <div class="form-control-wrapper">
              <input type="text" class="form-control empty dreq dreq1" name="phone" id="edit-call-phone">
              <div class="floating-label">Ваш телефон</div>
{#              <div class="hint">Это обязательное поле</div>#}
            </div>
            <div class="form-control-wrapper">
              <input type="email" class="form-control empty dreq" name="mail" id="edit-call-mail">
              <div class="floating-label">Ваш e-mail</div>
{#              <div class="hint">Это обязательное поле</div>#}
            </div>
            <div class="text-right">
              <button type="submit" class="btn btn-primary">Заказать</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="orderExcursionModal" tabindex="-1" role="dialog" aria-labelledby="orderExcursionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="orderExcursionModalLabel">Заказать экскурсию</h4>
        </div>
        <div class="modal-body">
          <form class="form-v2 ajaxify-form" action="{% url 'excurs' %}" method="POST" data-validate="orderExcursionCallback" data-submit="orderExcursionCallback">
            <div class="form-control-wrapper">
              <input type="text" class="form-control empty required" name="name" id="edit-exc-name">
              <div class="floating-label">Ваше имя</div>
{#              <div class="hint">Это обязательное поле</div>#}
            </div>
            <div class="form-control-wrapper">
              <input type="text" class="form-control empty required" name="phone" id="edit-exc-phone">
              <div class="floating-label">Ваш телефон</div>
{#              <div class="hint">Это обязательное поле</div>#}
            </div>
            <div class="form-control-wrapper">
              <input type="email" class="form-control empty required" name="mail" id="edit-exc-mail">
              <div class="floating-label">Ваш e-mail</div>
{#              <div class="hint">Это обязательное поле</div>#}
            </div>
            <div class="form-control-wrapper">
              <input type="text" class="form-control empty" name="city" id="edit-exc-city">
              <div class="floating-label">Из какого города</div>
            </div>
            <div class="form-control-wrapper">
              <input type="text" class="form-control empty" name="arrival" id="edit-exc-arrival">
              <div class="floating-label">Предполагаемая дата приезда</div>
            </div>
            <div class="form-control-wrapper">
              <input type="text" class="form-control empty" name="numbers" id="edit-exc-numbers">
              <div class="floating-label">Количество участников</div>
            </div>
            <div class="form-control-wrapper">
              <textarea type="text" class="form-control empty" name="order-text" id="edit-exc-order-text"></textarea>
              <div class="floating-label">Текст заказа</div>
            </div>
            <div class="text-right">
              <button type="submit" class="btn btn-primary">Заказать</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


  <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

  <script src="{% static 'bootstrap-md/dist/js/ripples.min.js' %}"></script>
  <script src="{% static 'bootstrap-md/dist/js/material.min.js' %}"></script>
  <script src="{% static 'js/jquery.bxslider.min.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
  <script>
      $(document).ready(function() {
        $.material.init();
      });
  </script>
</body>

</html>
