
<div class="block-sights-filters clearfix" role="tabpanel">
  <div class="col-md-8 col-md-offset-2 col-xs-12">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
        <a href="#home" aria-controls="home" role="tab" data-toggle="tab" class="btn btn-default btn-fab btn-raised btn-ico-photo"></a>
        <div>Здесь название кнопки</div>
      </li>
      <li role="presentation">
        <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab" class="btn btn-default btn-fab btn-raised btn-ico-ruller"></a>
        <div>Удаленность</div>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content margin-top-10">
      <div role="tabpanel" class="tab-pane active" id="home">
        <div class="row">
          <div class="col-sm-4 col-xs-12">
            <div class="text-center"><a href="javascript:void(0)" class="btn-filter">Фильтр  (значение)</a></div>
            <div class="text-center"><a href="javascript:void(0)" class="btn-filter">Фильтр (23)</a></div>
            <div class="text-center"><a href="javascript:void(0)" class="btn-filter active">Выбранный фильтр</a></div>
          </div>
          <div class="col-sm-4 col-xs-12">
            <div class="text-center"><a href="javascript:void(0)" class="btn-filter">Фильтр  (значение)</a></div>
            <div class="text-center"><a href="javascript:void(0)" class="btn-filter">Фильтр (23)</a></div>
            <div class="text-center"><a href="javascript:void(0)" class="btn-filter">Фильтр (1)</a></div>
          </div>
          <div class="col-sm-4 col-xs-12">
            <div class="text-center"><a href="javascript:void(0)" class="btn-filter active">Выбранный фильтр</a></div>
            <div class="text-center"><a href="javascript:void(0)" class="btn-filter active">Выбранный фильтр</a></div>
            <div class="text-center"><a href="javascript:void(0)" class="btn-filter">Фильтр (1)</a></div>
          </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="profile">
        <div class="row">
          <div class="col-sm-4 col-xs-12">
            <div class="text-center"><a href="javascript:void(0)" class="btn-filter">Фильтр (23)</a></div>
          </div>
          <div class="col-sm-4 col-xs-12">
            <div class="text-center"><a href="javascript:void(0)" class="btn-filter">Фильтр  (значение)</a></div>
            <div class="text-center"><a href="javascript:void(0)" class="btn-filter">Фильтр (1)</a></div>
          </div>
          <div class="col-sm-4 col-xs-12">
            <div class="text-center"><a href="javascript:void(0)" class="btn-filter active">Выбранный фильтр</a></div>
            <div class="text-center"><a href="javascript:void(0)" class="btn-filter">Фильтр (1)</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

